.card-percent {
    max-width: 400px;
    padding: 4px;
    margin: 4px;
    background-color: orange;
    min-height: 50px;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    
        p {
            font-size: 24px;
            font-weight: bold;
            color: white;
        }
    }
}