<mat-card appearance="outlined" class="card-percent">
    <header class="card-percent__header">
        <mat-form-field>
            <mat-label>Origem</mat-label>
            <mat-select [(ngModel)]="sourceStage" name="sourceStage" (ngModelChange)="onSelectChange()">
                <mat-option *ngFor="let stage of stages" [value]="stage">{{ stage.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Destino</mat-label>
            <mat-select [(ngModel)]="targetStage" name="targetStage" (ngModelChange)="onSelectChange()">
                <mat-option *ngFor="let stage of stages" [value]="stage">{{ stage.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </header>
    <mat-card-content class="card-percent__content">
        <p>{{ percent | percent }}</p>
    </mat-card-content>
</mat-card>